body {
  background-color: snow;
}
img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

h1 {
  margin: 0;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.field > .choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.compContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 0;
}

.scoreBoard .result {
  display: none;
}

.result h3 {
  margin-top: 0;
}

.resultReply {
  font-weight: bold;
  font-size: 16px;
}

.selectedAction {
  border: 6px rgb(129, 69, 1) double;
  width: 200px;
  height: 200px;
}

.help {
  width: 40px;
  margin-left: 96%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.help .question {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  line-height: 40px;
}

.help .popup {
  width: 500px;
  border-radius: 10px;
  background-color: #eee;
  opacity: 0;
  display: none;
  transition: 5s;
  margin-right: 18px;
}

.popup p,
.popup h4,
.popup ul li {
  padding: 2px 8px;
}

.popup h3 {
  text-align: center;
  margin: 0%;
  background-color: #555;
  color: snow;
  padding: 8px 0px;
}

.help:hover .popup {
  cursor: pointer;
  display: inline;
  opacity: 1;
}

.choice img:hover {
  box-shadow: -2px -2px 20px 2px red, 2px 2px 20px 2px yellow;
}

@media (max-width: 780px) {
  .help {
    margin-left: 93%;
  }
}

@media (max-width: 500px) {
  img {
    width: 100px;
    height: 100px;
  }

  .selectedAction {
    width: 140px;
    height: 140px;
  }

  .help .popup {
    width: 300px;
  }
}
